/*Selector{
    Property: value;
}*/
*{
    text-align: right;
}
body{
    background-color: rgb(170, 107, 57);
}
h2,p {
    color:rgb(85, 38, 0);
    /*background-color:rgb(173, 234, 238);*/
    text-align: center;
    border: 5px solid rgb(212, 153, 106);
    cursor: progress;
}
p:hover {
    color: rgb(255, 208, 170);
}
img{
    border: 5px solid rgb(212, 153, 106);
    float: left;
    
}
footer{
    clear: both;
    text-align: center;
    color: rgb(85, 38, 0);
    font-size: 150%;
}
p{
    text-transform: uppercase;
    /*text-decoration: line-through;*/
    line-height:50px;
    font-style: italic;
    font-weight: bold;
    font-size: 280%;
    font-family: 'Piret One', cursive;
}
li {
    color: rgb(255, 208, 170);
    list-style : none;
    display: inline-block;
    
}
.webtext {
    border: 5px dashed rgb(194, 158, 129);/*last-child , first-child,  (!important)*not recommended using  */
}
.main {
    color: rgb(85, 30, 0);
}
#div1{
    background: rgb(158, 158, 209,0.2)
}







































