/*Selector{
    Property: value;
}*/
h2 {
    color:rgb(221, 23, 23);
    /*background-color:rgb(173, 234, 238);*/
    text-align: center;
    border: 5px dashed rgb(120, 205, 226);
}
p{
    color: rgb(250, 211, 218);
}



































